	//${elementName} methods
	
	public By get${elementNameCapitalized}Locator() {
		return ${elementName}Locator;
	}
	
	public WebElement get${elementNameCapitalized}() {
		return getDriver().findElement(${elementName}Locator);
	}

	public void fileUpload${elementNameCapitalized}(String exeFileName, String browserName) {
		get${elementNameCapitalized}().click();
		//TODO: change exeFilePath if necessary
		String exeFilePath = System.getProperty("user.dir") + "/script/autoit/fileUpload/"
				+ browserName + "/" + exeFileName;
		try {
			Runtime.getRuntime().exec(exeFilePath);
		} catch (java.io.IOException e) {
			e.printStackTrace();
		}
	}
