	//${elementName} methods
	
	public By get${elementNameCapitalized}Locator() {
		return ${elementName}Locator;
	}
	
	public WebElement get${elementNameCapitalized}() {	
		click${elementDependsOnCapitalized}();
		return getDriver().findElement(${elementName}Locator);
	}

	public void goTo${elementNameCapitalized}() {
		Actions actions = new Actions(getDriver());
		actions.moveToElement(get${elementNameCapitalized}());						
	}
	
	public String getText${elementNameCapitalized}() {	    
		return get${elementNameCapitalized}().getText();
	}
	